{% extends "base.html" %}

{% block content %}
<div class="page-header">
    <h3>About dcmdb <small>Last updated 10/26/2014</small></h3>
</div>
<div class="row">
	<div class="col-md-12">

		This website was developed by <a href="http://neurosnap.net">Eric Bower</a>.  The mission of this service is to create a learning resource and
		development toolkit for developers and the curious.

		<br />
		<hr />
		<h4><small>Toolkit</small></h4>
		As a student studying neuroscience, I found it rather difficult to find a common platform for <a href="http://en.wikipedia.org/wiki/DICOM">Digital Imaging and Communications in Medicine (DICOM)</a> tools to facilitate an understanding of how the most common, prominent diagnostic file operates.  One of my goals with this project is to create a platform that at its core is a learning resource that provides tools and utilities to anyone interested in this technology.

		<br /><br />
		<h4><small>Collaboration</small></h4>

		If you are interested in helping, the source code is hosted on <a href="https://github.com/neurosnap/dcmdb-flask"><i class="fa fa-github"></i> Github</a>, feel free to have a look.  Any suggestions, comments, or critcisms are greatly appreciated.

		<br /><br />
		<h4><small>Open-Source all the way down</small></h4>

		This project was developed in <a href="http://www.python.org/">Python</a>, the <a href="http://flask.pocoo.org//">Flask framework</a>, and <a href="http://www.postgresql.org/">Postgresql</a>. The production server is hosted by <a href="http://aws.amazon.com/ec2/">Amazon</a> on an Ubuntu EC2 virtualized server. It uses <a href="http://gunicorn.org/">Gunicorn</a> as the WSGI HTTP Server and <a href="http://wiki.nginx.org/Main">NGINX</a> as the Proxy HTTP Server.

		<br /><br />
		<h5><a href="https://github.com/neurosnap/mudicom"><i class="fa fa-github"></i> Mudicom</a></h5>

		I created mudicom to help facilitate the needs of this web service.  I hope, in time, it will be good enough to
		replace all of the current python packages for DICOM files.

		It depends on the open-source C++ application for DICOM files:
		<a href="http://sourceforge.net/projects/gdcm/">Grassroots DICOM</a>

		<hr />

	</div>
</div>
{% endblock %}
