{% extends "base.html" %}

{% block js %}
{% endblock %}

{% block content %}
<div class="page-header">
    <h3>About dcmdb <small>Last updated 11/18/2013</small></h3>
</div>
<div class="row">
	<div class="col-md-12">

		This website was developed by <a href="http://www.neurosnap.net">Eric Bower</a>.  The mission of this service is to create a repository of easy to access, publicly available, anonymous medical diagnotic images.  With this repository we also wish to create a social platform for discussion, teaching, and learning.

		<br />
		<hr />
		<h4><small>Repository</small></h4>
		As a pre-medical student, I found it rather difficult to find a concise location for <a href="http://en.wikipedia.org/wiki/DICOM">Digital Imaging and Communications in Medicine (DICOM)</a> files.  There was no way to just search through a maryiad of diagnostic files with some pertinent information about the patient when referencing prognosis, diagnosis, and the rationality behind a diagnosis.  I feel as though there is a market for an educational tool to assist in the teaching and learning process of diagnostic imaging and the tools required to make judgements on those images.  One of my goals with this project is to create a platform that at its base is a repository to store, retrieve anonymous diagnostic data easily and efficiently.

		<br /><br />
		<h4><small>Discussion</small></h4>
		I am a strong proponent of crowd-sourcing, or the act of collaborating with a multiplicity of voluntarily interested people seeking to accomplish some common goal.  Why can we not apply this principle to medicine as well?  However, there doesn't seem to be an efficient way to receive feedback from an aggregate of physicians.  Typically, in my experience, physicians will send their DICOM files to a specific set of people to receive second opinions.  While this is an effective approach for most purposes, I am betting that if crowd-sourcing is done properly, we can create an environment where hundreds or thousands of knowledgable people discuss patient DICOM files.

		<br /><br />
		<h4><small>Teaching</small></h4>
		Once we have created a platform for discussion, we can use that discussion as an educational tool for aspiring physicians or even hobbyists.  In my opinion, understanding the rationale and critiqueing of any analysis lends itself to wisdom, reason, and progress.  When intelligence criticizes intelligence, we reach a level of understanding that is greater than the sum of its parts, because that wisdom can then be applied to other fields of interest.

		<br /><br />
		<h4><small>Learning</small></h4>
		We need to get people interested in medicine to learn about the reality of that career path earlier in their lives.  I think it is a shame that as a pre-medical student in Neuroscience, we barely learned about the actual day-to-day happenings of a career in medicine.  Why is it we have to wait until medical school to learn about and how to properly observe diagnostic tools such as DICOMs?

		<br /><br />
		<h4><small>Collaboration</small></h4>

		Keeping with the theme of crowd-sourcing, I am also opening up the source code to this project in hopes that others will help in making this service all the more relevant and up to date.  If you are interested in helping, the source code is hosted on <A href="https://github.com/neurosnap/dcmdb">Github</a>, feel free to have a look.  Any suggestions, comments, or critcisms are greatly appreciated. 

		<br /><br />
		<h4><small>Open Source Tool-Chain</small></h4>

		This project was developed in <a href="http://www.python.org/">Python</a>, the <a href="https://www.djangoproject.com/">Django framework</a>, and <a href="http://www.postgresql.org/">Postgresql</a>. The production server is hosted by <a href="http://aws.amazon.com/ec2/">Amazon</a> on an Ubuntu EC2 virtualized server. It uses <a href="http://gunicorn.org/">Gunicorn</a> as the WSGI HTTP Server and <a href="http://wiki.nginx.org/Main">NGINX</a> as the Proxy HTTP Server.
		<br /><br />
		It is using <a href="https://code.google.com/p/pydicom/">pydicom</a> for DICOM tag data and <a href="http://sourceforge.net/projects/gdcm/">Grassroots DICOM</a> to extract image data.
		<hr />

	</div>
</div>
{% endblock %}
