<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-type" content="text/html;charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta name=”description” content=”DICOM toolkit”>

		<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
		<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
		<link href="{{ url_for('static', filename='darkly.min.css') }}" rel="stylesheet">
		<link href="{{ url_for('static', filename='base.css') }}" rel="stylesheet">
		{% block css %}{% endblock %}

		<title>DCMDB | DICOM Toolkit</title>
	</head>
	<body>
		<nav class="navbar navbar-default" role="navigation">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">dcmdb</a>
			</div>
			<div class="collapse navbar-collapse navbar-ex1-collapse">
				<ul class="nav navbar-nav">
					<li><a href="{{ url_for('dictionary.search') }}"><i class="fa fa-book"></i> Dictionary</a></li>
					<li><a href="{{ url_for('explorer.explore') }}"><i class="fa fa-th-large"></i> Explorer</a></li>
					<li><a href="{{ url_for('uploader.upload') }}"><i class="fa fa-edit"></i> Editor</a></li>
					<li><a href="{{ url_for('uploader.upload') }}"><i class="fa fa-bug"></i> Validator</a></li>
					<li><a href="{{ url_for('uploader.upload') }}"><i class="fa fa-bug"></i> Anonymizer</a></li>
					<li><a href="{{ url_for('uploader.upload') }}"><i class="fa fa-cloud-upload"></i> Uploader</a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<i class="fa fa-ellipsis-v"></i> About <b class="caret"></b>
						</a>
						<ul class="dropdown-menu">
							<li><a href="{{ url_for('about') }}"><span class="glyphicon glyphicon-headphones"></span> dcmdb</a></li>
							<li><a href="{{ url_for('dicom') }}"><i class="fa fa-file"></i> What is DICOM?</a></li>
							<li><a href="{{ url_for('tos') }}"><i class="fa fa-asterisk"></i> Terms of Service</a></li>
							<li><a href="{{ url_for('privacy') }}"><i class="fa fa-send"></i> Privacy Policy</a></li>
							<li><a href="{{ url_for('transfer_syntax') }}"><i class="fa fa-barcode"></i> Transfer Syntax</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</nav>
		<div id="content" class="container">
			{% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                    <div class="alert alert-{{category}} alert-dismissable" style="margin: 8px 0px;">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                           &times;
                        </button>
                        {{ message }}
                    </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}

			{% block content %}{% endblock %}

			<br />
			<br />
		</div>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
		<script src="{{ url_for('static', filename='base.js')  }}"></script>
		{% block js %}{% endblock %}
	</body>
</html>