{% extends "base.html" %}

{% block content %}
<div class="row">
	<div class="col-md-2">
		<div class="input-group">
			<h5>Search</h5>
		</div>
	</div>
	<div class="col-md-7">
		<form role="search" method="POST" action="/main/search">
			<div class="col-md-10">
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Find a data element" value="{{ query }}">
				</div>
			</div>
			<div class="col-md-2">
				<button class="btn btn-primary" type="submit">Search</button>
			</div>
		</form>
	</div>
</div>

<hr />

{% endblock %}