{% extends "template.html" %}

{% block js %}
<script type="text/javascript" src="{{STATIC_URL}}js/holder.js"> </script>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-lg-2">
		<div class="input-group">
			<h5>Search</h5>
		</div>
	</div>
	<div class="col-lg-7">
		<form role="search" method="POST" action="/main/search">
			{% csrf_token %}
			<div class="col-lg-10">
				<div class="form-group">
					<input type="text" class="form-control" id="dcm_query" name="dcm_query" placeholder="Find a DICOM file e.g. 1.3.6.1.4.1.5962.1.2.1.20040826185059.5457" value="{{ query }}">
				</div>
			</div>
			<div class="col-lg-2">
				<button class="btn btn-default" type="submit">Search</button>
			</div>
		</form>
	</div>
</div>

{% if image %}
<small>Found {{ image.count }} result{% if image.count > 1 %}s{% endif %}!</small>
{% endif %}

<hr />

{% if image %}
	{% for item in image %}
	<div class="row">
		<div class="col-lg-4">
			<a href="/viewer/study/{{ item.dcm_series.dcm_study.UID }}">Study</a>
			<a href="/viewer/series/{{ item.dcm_series.UID }}">Series</a>
			<a href="/viewer/image/{{ item.UID }}">DCM</a> <br />
			{% if item.image_gen %}
			<img src="/media/{{ item.filename }}_thumb.png" class="img-thumbnail dcmthumb" />
			{% else %}
			<img src="holder.js/150x150" class="img-thumbnail dcmthumb" />
			{% endif %}
		</div>
		<div class="col-lg-6">
			<small>
				{% if item.dcm_series.dcm_study.sop_class_uid %} SOP Class UID: {{ item.dcm_series.dcm_study.sop_class_uid }} <br /> {% endif %}
				{% if item.dcm_series.dcm_study.study_date %} Study Date: {{ item.dcm_series.dcm_study.study_date }} <br /> {% endif %}
				{% if item.dcm_series.modality %} Modality: {{ item.dcm_series.modality }} <br /> {% endif %}
				{% if item.dcm_series.laterality %} Laterality: {{ item.dcm_series.laterality }} <br /> {% endif %} 
				{% if item.dcm_series.institution_name %} Institution: {{ item.dcm_series.institution_name }} <br /> {% endif %}
				{% if item.dcm_series.manufacturer %} Manufacturer: {{ item.dcm_series.manufacturer }} <br /> {% endif %}
				{% if item.dcm_series.series_description %} Series Description: {{ item.dcm_series.series_description }} <br /> {% endif %}
				{% if item.dcm_series.date %} Series Date: {{ item.dcm_series.date }} <br /> {% endif %}
				{% if item.dcm_series.series_number %} Series Number: {{ item.dcm_series.series_number }} <br /> {% endif %}
			</small>
		</div>
	</div>
	<hr />
	{% endfor %}
{% else %}
<div class="alert alert-info">No results found for search query, try search format: <strong>tag:value</strong> (e.g. study_date:1993-03-25)</div>
{% endif %}

{% endblock %}