{% extends "base.html" %}

{% block js %}
{% endblock %}

{% block content %}
    <div class="jumbotron">
        <h1><span class="glyphicon glyphicon-headphones"></span> dcmdb.org</h1>
        <p>
            An open-source webservice that provides a range of DICOM development utilities.
            Search our image repository or data element dictionary.
            Edit, validate, or anonymize DICOM files with ease.
        </p>
        <p>
            The mission of this service is to create a set of utilities that
            medical technicians can use to view, edit, anonymize, validate,
            and lookup DICOM files or images with a suite of easy to use utilities and a
            repository of anonymous medical diagnotic images. With this service we also
            wish to create a social platform for discussion, teaching, and learning.
        </p>
        <p>
            Launch Date:  November 9, 2013 <br />
            Questions?  <a href="mailto:dcmdb.webmaster@gmail.com">Contact me</a>
        </p>
    </div>
{% endblock %}