.de-tag, .de-name, .de-vm, .de-vr, .de-status, .de-type {
    cursor: pointer;
    padding: 5px;
}

#de_num_results {
    margin-left: 13px;
}

#de_clear {
    margin-left: 5px;
}

#de_no_results {
    display: none;
}