{% extends "template.html" %}

{% block js %}
	{% if image %}
	<script type="text/javascript" src="{{STATIC_URL}}js/holder.js"> </script>
	{% endif %}
{% endblock %}

{% block content %}
	<div class="page-header">
		<h3>Explore</h3>
	</div>
	<div id="explore" class="row">
		<div class="col-md-12">
			{% if image %}
				{% for item in image %}
					{% if item.image_gen %}
					<a href="/viewer/study/{{ item.dcm_series.dcm_study.UID }}">
						<img src="/media/{{ item.filename }}_thumb.png" class="img-thumbnail dcmthumb" /> 
					</a>
					{% else %}
					<a href="/viewer/study/{{ item.dcm_series.dcm_study.UID }}">
						<img src="holder.js/150x150" class="img-thumbnail dcmthumb" /> 
					</a>
					{% endif %}
				{% endfor %}
			{% else %}
			<div class="alert alert-info">Apparently our repository is empty ...</div>
			{% endif %}
		</div>
	</div>
{% endblock %}
