{% extends "template.html" %}

{% block js %}
<script type="text/javascript" src="{{STATIC_URL}}js/index.js"></script>
{% endblock %}

{% block content %}
<div class="jumbotron">
	<h1><span class="glyphicon glyphicon-headphones"></span> dcmdb</h1>
	<p>
		An open-source, anonymous, medical diagnostic imaging repository, search engine, and learning utility.
	</p>
	<p>
		<a class="btn btn-primary btn-lg" role="button" href="/main/explore"><span class="glyphicon glyphicon-th"></span> Explore</a></p>	
	</p>
</div>
{% endblock %}
