<!DOCTYPE html>
<html lang="en">

	<head>
	
		<meta http-equiv="Content-type" content="text/html;charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<meta name=”description” content=”DCMDB is an open-source, open-access search engine for medical diagnostic images (DICOMS)”>

		<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/bootstrap.min.css" />
		<!-- <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/flat-ui.css" /> -->
		{% block css %}{% endblock %}
		<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/style.css" />

		<title>DCMDB | Public DICOM Search Engine</title>
		
		<script type="text/javascript">
			var id = '{{ id }}';
		</script>

		<script type="text/javascript" src="{{STATIC_URL}}js/jquery-2.0.3.min.js"> </script>
		<script type="text/javascript" src="{{STATIC_URL}}js/bootstrap.min.js"> </script>
		<!-- <script type="text/javascript" src="{{STATIC_URL}}js/holder.js"> </script> -->
		<script type="text/javascript" src="{{STATIC_URL}}js/dicom_core.js"> </script>
		{% block js %}{% endblock %}
	
	</head>

	<body>

		<nav class="navbar navbar-default" role="navigation">

			<div class="navbar-header">

				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>

				<a class="navbar-brand" href="/">dcmdb</a>

			</div>

			<div class="collapse navbar-collapse navbar-ex1-collapse">

				<ul class="nav navbar-nav dcm_nav">

					<li><a href="/main/about"><span class="glyphicon glyphicon-info-sign"></span> About</a></li>
					<li><a href="/main/dicom/"><span class="glyphicon glyphicon-file"></span> What is DICOM?</a></li>
					<li><a href="/main/tos"><span class="glyphicon glyphicon-asterisk"></span> Terms of Service</a></li>
					<li><a href="/main/privacy"><span class="glyphicon glyphicon-send"></span> Privacy Policy</a></li>

				</ul>

			</div>

		</nav>
		
		<div id="content" class="container">
			
			{% block content %}{% endblock %}
			
		</div>
	
	</body>

</html>
